@import "@/app/styles/scss-utils/index";

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero_image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 74%;
  border-radius: 5px;
  z-index: -1;
}

.hero_title {
  color: var(--white);
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
