@import "@/app/styles/scss-utils/index";

.popup_thanks {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba($color: #212121, $alpha: 0.3);
  z-index: 1001;
  max-width: 777px;
  width: calc(100% - 32px);
  height: 494px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;

  display: none;
}

.close_popup {
  position: absolute;
  top: 28px;
  right: 28px;
  color: var(--white);
  @include adaptive-value("width", 40, 32, 1);
  @include adaptive-value("height", 40, 32, 1);
}

.popup_content {
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.popup_title {
  color: var(--white);
  margin-bottom: 24px;
}

.popup_text {
  @include adaptive-value("font-size", 18, 14, 1);
  color: var(--gray-DB);
  margin-bottom: 24px;
}
