.row {
  --gutter-x: 1rem;

  display: flex;

  flex-wrap: wrap;

  width: calc(100 + var(--gutter-x) * 2);
  margin-right: calc(var(--gutter-x) * -1);
  margin-left: calc(var(--gutter-x) * -1);
}

.row > * {
  padding-right: var(--gutter-x);
  padding-left: var(--gutter-x);
}

.col-fit {
  width: fit-content;
}

.col-fill {
  flex: 1;

  width: 100%;
}
