@import "@/app/styles/scss-utils/index";

.isLogin {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--black);
  padding: 20px;z-index: 1001;

  color: var(--white);

  p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  button {
    display: block;
    margin-bottom: 15px;

    &:last-of-type {
      margin: 0;
    }
  }
}