@import "@/app/styles/scss-utils/index";

.leaderboard_block {
  &:not(:last-child) {
    @include adaptive-value("margin-bottom", 24, 16, 1);
  }

  &.green {
    --main-color: var(--green);
  }

  &.orange-secondary {
    --main-color: var(--orange-secondary);
  }

  &.orange-primary {
    --main-color: var(--orange-primary);
  }

  .leaderboard_block_title {
    color: var(--main-color);
    @include adaptive-value("margin-bottom", 24, 16, 1);
  }
}
