@import "@/app/styles/scss-utils/index";

.sign_in_content {
  max-width: 543px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  &._black {
    --main-color: var(--black);

    .forgot {
      color: var(--gray);
    }
  }

  &._white {
    --main-color: var(--white);

    .forgot {
      color: var(--white);
    }
  }
}

.title {
  @include adaptive-value("font-size", 40, 24, 1);
  color: var(--main-color);
  @include adaptive-value("margin-bottom", 32, 16, 1);
}

.inputs_wrap,
.checkboxes_wrap {
  margin-bottom: 24px;
}

.input {
  margin-bottom: 16px;

  &:last-of-type {
    margin: 0;
  }
}

.checkbox {
  margin-bottom: 8px;

  &:last-of-type {
    margin: 0;
  }
}

.buttons_wrap {
  display: flex;
  align-items: center;
  @include adaptive-value("gap", 24, 8, 1);
  @include adaptive-value("margin-bottom", 32, 24, 1);
}

.sign_in_btn {
  width: 100%;
  justify-content: space-between;
  min-width: auto;
  gap: 0;
}

.forgot {
  text-align: center;
  @include adaptive-value("font-size", 16, 12, 1);

  &:hover {
    text-decoration: underline;
  }
}
