@import "@/app/styles/scss-utils/index";

.button_icon {
  color: var(--white);
  transition: all 0.3s;

  &:hover {
    color: var(--red);
    transition: all 0.3s;
  }

  &:active {
    color: var(--red);
    transition: all 0.3s;
  }

  &:disabled {
    color: var(--gray-DB);
  }

  .big_cross {
    width: 100%;
    height: 100%;
  }
}
